# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
.idea/

# Media
frontend/media/attachments

# Summarizer
git_summary.py
